#chat-container {
    width: 300px;
    margin: 20px auto;
    border:1px solid #131212;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
}

#input-container {
    width: 300px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    border: none;
}

#chat-container {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #5a23c8;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

#input-container {
    width: 300px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #313133;
    border-radius: 8px;
    font-size: 14px;
}

button {
    padding: 10px; /*12px*/
    background-color: #5d5d64;
    color: #fff;
    border: none;  /*2px solid #5a23c8;*/
    border-radius: 5px; /*8px;*/
    cursor: pointer;
    /*transition: background-color 0.3s ease;*/
}

button:hover {
    background-color: #3c1570;
}

a {
    color: #5a23c8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


