body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

#chat-container {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #5a23c8;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
    background-color: #fff; /* 채팅창 배경색상 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    border-radius: 10px; /* 둥근 모서리 */
}

#input-container {
    width: 300px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #5a23c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3c1570;
}

a {
    color: #5a23c8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}