body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}
h1 {
    font-size: 60px;
    margin-bottom: 0px;
}
p {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

img {
    max-width: 50%;
    height: auto;
    position: relative;
}
.tel {
    font-size: 13px;
    text-align: left;
    background-color: #212529;
    padding-bottom: 3px;
    margin: 10px;

}
.tel p {
    font-size: 13px;
    margin-bottom: 0px;
    margin-left: 480px;
    width: 500px;
    height: 20px;
    color: white;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    background-color: #1E90FF;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    margin-top: -50px;
    position: absolute;
    top: 49.5%;
    left: 52.5%;
    transform: translate(-50%, -50%);
}
.btn:hover {
    background-color: #999999;
}


