* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
}


/* navbar */
.navbar{
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #212529;
}
.navbar #logo {
    line-height: 50px;
}
.navbar #logo img{
    vertical-align: middle;
}

.navbar #menu {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;

}
.navbar #menu li {
    float:left;
    margin-left: 50px;
    line-height: 50px;
}

.navbar #menu li a {
    text-decoration: none;
    color: white ;
    font-size: 12px;
    font-weight: bold;
}
/* 카테고리바*/
.category {
    position: relative;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;

}

.category #cate-1 {
    list-style: none;
    padding: 0;
    display: flex; /* 자식 요소를 가로로 나열하기 위해 flex 사용 */
    justify-content: center; /* 자식 요소를 가운데 정렬 */
}

.category #cate-1 li {
    margin-left: 0px; /* 각 li 요소 사이의 간격을 조절 */
    line-height: 30px;
    font-size: 18px;
}

.category #cate-1 li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px; /* 카테고리의 크기 조절 */
}

/* 소메뉴 스타일 */
.category #cate-1 li:hover .submenu {
    display: block; /* 메인 카테고리에 마우스 호버시 소메뉴 표시 */
}

.submenu {
    z-index: 1;
    display: none;
    position: absolute;
    list-style: none;
    padding: 3px;
    height: auto;
    background-color: #fff; /* 소메뉴 배경색 */
    border: 1px solid #ccc; /* 소메뉴 테두리 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;

}

.submenu li {
    display: block;
}

.submenu li a {
    text-decoration: none;
    color: #333; /* 소메뉴 텍스트 색상 */
    font-size: 10px;
    text-align: left;
}

.submenu li:hover {
    background-color: #f4f4f4; /* 소메뉴 아이템에 마우스 호버시 배경색 변경 */
}

/* banner header */

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slide {
    float: left;
    width: 100%;
    position: relative;
}
.slide img {
    width: 100%;
    height: auto;
}
/* products */

.products h3{
    font-size: 24px;
    color: #545454;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}
.product-list{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.product{
    width: 225px;
    text-align: center;
    display: block;
    color: #545454;
    text-decoration: none;
    float: left;
    margin-left:10px;
    margin-right: 15px;
    margin-bottom: 80px;

}

.product-name{
    margin-top: 20px;
    margin-bottom: 4px;

}
/* footer */
.footer {
    background-color: #212529;
    padding: 20px;
    text-align: center;
    color: #fff; /* 텍스트 색상을 흰색으로 설정 */
}

.footer a {
    margin: 0 10px; /* 링크 간격을 조절 */
}

/* New Section Styles */
.new-section {
    margin-top: 40px; /* 상단 여백 조절 */
    text-align: left;
}

.new-section h3 {
    font-size: 24px;
    color: #545454;
    font-weight: bold;
    margin-top: 20px; /* 섹션 제목 상단 여백 조절 */
    margin-bottom: 20px; /* 섹션 제목 하단 여백 조절 */
    text-align: center;
}

.new-product-list {
    width: 100%; /* 새로운 제품 목록 전체 너비 설정 */
    display: flex;
    flex-wrap: wrap; /* 제품들이 창을 벗어나면 다음 줄로 넘어감 */
    justify-content: center; /* 가운데 정렬 */

}
.new-product-list a {
    text-decoration: none;
}

.new-product-list .product {
    width: 225px; /* 각 제품의 너비 설정 */
    text-align: center;
    display: block;
    color: #545454;
    text-decoration: none;
    margin: 10px; /* 제품 간 간격 조절 */
}

.new-product-list .product img {
    max-width: 100%;
    height: auto;

}

.new-product-list .product-name {
    margin-top: -50px; /* 제품 이름 상단 여백 조절 */
    text-align: center;

}

.new-product-list .product-price {
    margin-top: 10px; /* 제품 가격 상단 여백 조절 */
    text-decoration: none;
    color: grey;
}
.product2 {
    margin-right: 150px;

}
.product2:last-child {
    margin-right: 0;
}

.magazine-section {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.magazine-list {
    display: flex;
    justify-content: center;
}

.magazine-item {
    width: 300px;
    margin-right: 100px; /* 간격 조절을 위한 마진 설정 */
    text-decoration: none;
}

/* 마지막 매거진 아이템의 오른쪽 마진을 없애기 위해 마지막 요소에 클래스 추가 */
.magazine-item:last-child {
    margin-right: 0;
}

.magazine-item img {
    width: 120%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.magazine-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    text-decoration: none;
}

.magazine-description {
    font-size: 14px;
    color: #666;


}


